---
import Layout from '../../layouts/Layout.astro';
import NavbarBlog from '../../components/Navbar.astro';
import { getCollection } from 'astro:content';
import BlogPost from '../../components/BlogPost.astro';
import FeaturedBlog from '../../components/FeaturedBlog.astro';
import Footer from '../../components/Footer.astro';

// Obtener todos los posts y ordenarlos por fecha
const posts = await getCollection('posts');
posts.sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime());

//Obtener titulos de los posts destacados y filtrarlos
const titlesToInclude = ['Protección de datos para empresas', 'Como hacer un sorteo legal en internet'];

const featuredPosts = posts.filter(post => 
    titlesToInclude.includes(post.data.title)
);

// Nuevo array de posts SIN los destacados
const remainingPosts = posts.filter(post => 
    !titlesToInclude.includes(post.data.title)
);
---

<Layout title="Blog - Type of Legal">
    <NavbarBlog/>
    <main>
        <section id="featuredBlog" class="featuredBlog">
            {
                featuredPosts.map((post) => {
                    return (
                        <FeaturedBlog post={post} />
                    );
                })
            }
        </section>
        <section id="blogSection" class="blog-section">
            {
                remainingPosts.map((post) => {
                    return (
                        <BlogPost post={post} />
                    );
                })
            }
        </section>
        
    </main>
    <Footer/
</Layout>


<style is:global>
* {
    font-family: sans-serif;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}

/* Featured Blog */
#featuredBlog {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
    max-width: 1300px;
    gap: 20px;
}

#featuredBlog article {
    width: calc(50% - 10px);
}

/* Blog Section Grid */
#blogSection {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(32%, 1fr));
    gap: 20px;
    max-width: 1300px;
    width: 100%;
    padding: 20px;
}

/* Responsive: Tablets */
@media (max-width: 1300px) {
    #featuredBlog article {
        width: 100%;
    }

    #blogSection {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

/* Responsive: Mobile devices */
@media (max-width: 768px) {
    main {
        margin-top: 86px;
    }

    #featuredBlog article {
        width: 100%;
    }

    #blogSection {
        grid-template-columns: 1fr;
        padding: 10px;
    }
}

/* Responsive: Extra small devices */
@media (max-width: 480px) {
    #blogSection {
        gap: 15px;
    }
}


</style>
