---
import Layout from '../layouts/Layout.astro';
import NavbarBlog from '../components/Navbar.astro';
---

<Layout title="Blog - Type of Legal">
    <NavbarBlog/>
    <main>
        <h1>Blog</h1>
    </main>

</Layout>


<style is:global>
    * {
	font-family: sans-serif;
	overflow: visible !important;

}
main{
	margin-top: 95px;
}
</style>
