---
import MailIcon from './icons/MailIcon.astro';
import MenuIcon from './icons/MenuIcon.astro';
---

<header>
    <nav id="navbar">
        <div class="navbar-left-section">
            <img src="https://typeoflegal.com/wp-content/uploads/2023/06/TypeofLegalAbogados.webp" alt="Type Of Legal Logo" srcset="">
            <div class="navbar-buttons">
                <a href="/#banner" class="navbar-button">INICIO</a>
            <a href="/#services" class="navbar-button">SERVICIOS</a>
            <a href="/#about" class="navbar-button">NOSOTROS</a>
            <a href="/#contact" class="navbar-button">CONTACTO</a>
            <a href="/blog" id="blog-button" class="navbar-button">BLOG</a>


            </div>
        </div>
        <div class="navbar-right-section">
            <button class="mail-button"><MailIcon/>info@typeoflegal.com</button>
            <button id="mobileMenuButton" class="menu-button"><MenuIcon/></button>

        </div>
    </nav>
    <nav id="mobileNavbar" class="mobile-navbar">
        <div class="mobile-navbar-wrapper">
            <img src="https://typeoflegal.com/wp-content/uploads/2023/06/TypeofLegalAbogados.webp" alt="Type Of Legal Logo" srcset="">
            <div class="navbar-buttons">
                <a id="mobileNavbarLink" href="/#banner" class="navbar-button">INICIO</a>
            <a id="mobileNavbarLink" href="/#services" class="navbar-button">SERVICIOS</a>
            <a id="mobileNavbarLink" href="/#about" class="navbar-button">NOSOTROS</a>
            <a id="mobileNavbarLink" href="/#contact" class="navbar-button">CONTACTO</a>
            <a id="mobileNavbarLink" href="/blog" id="blog-button" class="navbar-button">BLOG</a>


            </div>
    </nav>
    <script is:inline>
        document.addEventListener("astro:page-load", () => {
            const mobileNavbar = document.getElementById("mobileNavbar");
            const mobileMenuButton = document.getElementById("mobileMenuButton");
            const mobileNavbarLink = document.querySelectorAll("#mobileNavbarLink");
            const path = window.location.pathname;
          const sections = document.querySelectorAll("section[id]");
          const navLinks = document.querySelectorAll("#navbar a[href^='/#']");


          mobileMenuButton.addEventListener("click", () => {
            mobileNavbar.classList.toggle("active");
          });

          mobileNavbarLink.forEach((link) => {  
            link.addEventListener("click", () => {
                mobileNavbar.classList.remove("active");
            });
        });
    
            
            if (path.includes('blog')){
                const blogButton = document.getElementById("blog-button");
                if (blogButton) {
                    blogButton.classList.add("active");
                }
            }
          const observer = new IntersectionObserver(
            (entries) => {
              entries.forEach((entry) => {
                if (entry.isIntersecting) {
                  const id = entry.target.id;
                  navLinks.forEach((link) => {
                    link.classList.toggle("active", link.getAttribute("href") === `/#${id}`);
                  });

                  mobileNavbarLink.forEach((link) => {
                    link.classList.toggle("active", link.getAttribute("href") === `/#${id}`);
                  });
                }
              });
            },
            {
              rootMargin: "0px 0px -60% 0px",
              threshold: 0.25,
            }
          );
    
          sections.forEach((section) => observer.observe(section));
        });
      </script>
</header>


<style>

#mobileNavbar {
    display: none;
    position: fixed; /* para que quede fijo en pantalla */
    top: 0;
    left: 0;
    width: 70%;
    max-width: 250px;
    height: 100dvh;
    background-color: white;
    flex-direction: column;

    /* Empieza oculto fuera a la izquierda */
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;

    /* Resto de estilos */
    .mobile-navbar-wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;

        img {
            width: 150px;
        }

        .navbar-buttons {
            position: relative;
            display: flex;
            gap: 10px;
            flex-direction: column;
            justify-content: start;
            align-items: start;


            a {
                border-radius: 0.5rem;
                text-decoration: none;
                color: #2e3c2e;
                padding: 10px 20px;
                vertical-align: text-bottom;
                text-align: start;
                border-bottom: 1px solid #e8f0eb;
                border-radius: 0px;
                font-weight: 600;
                transition: all 0.3s ease-in-out;
                width: 80%;
            }

            a:hover {
                color: #4d8b6c;
            }

            a.active{
                background-color: white;
                color: #4d8b6c;
            }
        }
    }
}

/* Cuando el navbar está activo, se muestra deslizándose */
#mobileNavbar.active {
    transform: translateX(0);
}

    header{
        position: fixed;
        z-index: 999;
        top: 0;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.616);
        backdrop-filter: blur(15px);
        display: flex;
        justify-content: center;
        border-bottom: 1px solid #e8f0eb;
    }
    nav{
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1300px;
        padding: 20px;

    }

    .navbar-left-section{
        display: flex;
        align-items: center;
        gap: 20px;
        img{
            width: 250px;
        }
    }

    .navbar-right-section{
        display: flex;
        align-items: center;
        gap: 10px;
        button{
            display: flex;
            align-items: center;
            gap: 10px;
            background-color: #e8f0eb;
            border: none;
            color: #4d8b6c;
            padding: 10px 20px;
            border-radius: 0.5rem;
            transition: all 0.3s ease-in-out;
            cursor: pointer;
            font-weight: bold;
        }

        .menu-button{
            display: none;
            background-color: transparent;

        }


        button:hover{
            background-color: #d5e3db;
        }
    }

    .navbar-buttons{
        display: flex;
        align-items: center;
        gap: 10px;
        a {
            border-radius: 0.5rem;
            text-decoration: none;
            color: #2e3c2e;
            padding: 10px 20px;
            text-align: center;
            vertical-align: text-bottom;
            font-weight: 600;
            transition: all 0.3s ease-in-out;
            
        }

        a:hover {
            color: #4d8b6c;
        }

      

        .active:hover{
            background-color: #3d6e55;
            color: white;
        }
    }

    .navbar-button.active{
            background-color: #4d8b6c;
            color: white;
        }

    @media (max-width: 1130px) {
        #navbar .navbar-left-section .navbar-buttons{
            display: none ;
        }
        .menu-button{
            display: flex !important;
        }

        #mobileNavbar{
            display: flex !important;
        }

    }

    @media (max-width: 590px) {
    #navbar .navbar-right-section .mail-button{
        display: none !important; 
        }
    
    }
</style>