---
import { ClientRouter } from 'astro:transitions';
interface Props {
	title: string;
	favicon?: string;
}

const schema = {
  "@context": "https://schema.org",
  "@type": "LegalService",
  "name": "Type of Legal",
  "url": "https://typeoflegal.com/",
  "logo": "https://typeoflegal.com/logo.png",
  "image": "https://typeoflegal.com/office-photo.jpg",
  "description": "Abogados expertos en derecho digital, propiedad intelectual y nuevas tecnologías.",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "Calle de Otero 1",
    "addressLocality": "Madrid",
    "postalCode": "28028",
    "addressCountry": "ES"
  },
  "telephone": "+34 644 56 32 54",
  "email": "info@typeoflegal.com",
  "areaServed": "España",
  "sameAs": [
    "https://www.facebook.com/typeoflegal",
    "https://twitter.com/typeoflegal",
    "https://www.linkedin.com/company/type-of-legal/"
  ]
};



const { title } = Astro.props;
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content="Abogados Nuevas Tecnologías - Somos abogados expertos en derecho digital, propiedad intelectual y nuevas tecnologías">
		<meta name="robots" content="max-image-preview:large">
		<link rel="canonical" href="https://typeoflegal.com/">
		<meta property="og:locale" content="es_ES">
		<meta property="og:site_name" content="Type of Legal - Abogados Nuevas Tecnologías">
		<meta property="og:type" content="article">
		<meta property="og:title" content="Conócenos - Type of Legal">
		<meta property="og:description" content="Abogados Nuevas Tecnologías - Somos abogados expertos en derecho digital, propiedad intelectual y nuevas tecnologías">
		<meta property="og:url" content="https://typeoflegal.com/#about">
		<meta name="twitter:card" content="summary">
		<meta name="twitter:title" content="Conócenos - Type of Legal">
		<meta name="twitter:description" content="Abogados Nuevas Tecnologías - Somos abogados expertos en derecho digital, propiedad intelectual y nuevas tecnologías">
		<script type="application/ld+json" set:html={JSON.stringify(schema)}></script>
		<ClientRouter />
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
